@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <ul id="channel-list">
    </ul>
</div>

<div>
    <a href="#" id="btn-create-channel">Create channel</a>
</div>

@section scripts {
    <script src="~/Views/Channel/List.js"></script>
}