@{
    ViewBag.Title = "Your Channels";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row" id="channel-list">
</div>

<div>
    <a href="#" id="btn-create-channel" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Create channel
    </a>
</div>

@section scripts {
    <script src="~/Views/Channel/List.js"></script>
}