@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="container">
        <h1>@Localize.SiteName</h1>
        <p>Tell me "<b>W</b>hat <b>Y</b>ou <b>S</b>eeing?"</p>
        <p>
            <a href="@Url.Action("List", "Channel")" class="btn btn-primary btn-lg">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <text>Goto Your Channel List &raquo;</text>
                }
                else
                {
                    <text>Sign in / Sign up (Free) &raquo;</text>
                }
            </a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Simple</h2>
            <p>(Contents Here)</p>
        </div>
        <div class="col-md-4">
            <h2>Secure</h2>
            <p>(Contents Here)</p>
        </div>
        <div class="col-md-4">
            <h2>Free</h2>
            <p>(Contents Here)</p>
        </div>
    </div>
</div>