/* override twitter bootstrap styles. */
.btn {
    border-radius: 0;
}

.btn-primary,
.btn-primary:hover {
    color: #fff;
    border-color: #4e7ac7;
}

    .btn-primary:hover {
        border-color: #3965b3;
    }

#body > section,
#body > hr,
#body > footer {
    margin-left: 46px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* Buttons */
.modern-btn {
    display: block;
    background-repeat: no-repeat;
}

    .modern-btn.nav-back {
        width: 48px;
        height: 48px;
        background-image: url(images/back.png);
        margin-top: -10px;
        margin-left: -80px;
        float: left;
    }

    .modern-btn.next {
        min-height: 48px;
        line-height: 48px;
        padding-left: 54px;
        background-image: url(images/next.png);
    }

.btn-sign-in {
    background-repeat: no-repeat;
    background-image: url(images/next.cw.png);
    background-position: right center;
    padding-right: 56px;
    border-radius: 0px;
    line-height: 35px;
    height: 60px;
    border-right-width: 10px;
}

.jumbotron h1 {
    margin-top: 0;
}

.jumbotron .title {
    float: left;
}

.jumbotron .sign-in {
    float: right;
}

.jumbotron h2 {
    clear: both;
}



/* Channel Settings */
.channel-settings h3 {
    margin-top: 1.5em;
}

.channel-settings .channel-name {
    font-size: 200%;
}

    .channel-settings .channel-name .btn {
        margin-left: 1em;
    }

.channel-settings #members-holder {
    margin-bottom: 1em;
    border-collapse: separate;
}

    .channel-settings #members-holder th,
    .channel-settings #members-holder td {
        padding-right: 1em;
    }

    .channel-settings #members-holder th {
        border-bottom: solid 2px #888;
    }

/* Channel */
#log-holder > div {
    margin-bottom: 1em;
}

#log-holder .time {
    text-align: right;
    color: #aaa;
    font-size: 80%;
}

#log-holder .waiting-msg {
    display: none;
    color: #aaa;
}

#log-holder.no-msgs .waiting-msg {
    display: block;
}

/* account box */

.account-box {
    margin-top: 0.5em;
    float: right;
    display: block;
}

    .account-box .account-name {
        color: #ccc;
        display: inline;
        margin-right: 1em;
    }

/* immersive mode */
.immersive .account-box {
    display: none;
}

/* footer */
footer .powered-by {
    color: #888;
    font-size: 90%;
}
