/* override twitter bootstrap styles. */
.btn-default,
.btn-default:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #666;
}

    .btn-default.btn-link {
        background-color: transparent;
        border-color: transparent;
    }

#body > section,
#body > hr,
#body > footer {
    margin-left: 46px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* Buttons */
.modern-btn {
    display: block;
    background-repeat: no-repeat;
}

    .modern-btn.nav-back {
        width: 48px;
        height: 48px;
        background-image: url(images/back.png);
        margin-top: -10px;
        margin-left: -80px;
        float: left;
    }
    .modern-btn.next {
        min-height:48px;
        line-height:48px;
        padding-left:54px;
        background-image: url(images/next.png);
    }

/* Channel Settings */
.channel-settings h3 {
    margin-top: 1.5em;
}

.channel-settings .channel-name {
    font-size: 200%;
}

    .channel-settings .channel-name .btn {
        margin-left: 1em;
    }

.channel-settings #members-holder {
    margin-bottom: 1em;
    border-collapse: separate;
}

    .channel-settings #members-holder th,
    .channel-settings #members-holder td {
        padding-right: 1em;
    }

    .channel-settings #members-holder th {
        border-bottom: solid 2px #888;
    }

/* account box */

.account-box {
    margin-top: 0.5em;
    float: right;
    display: block;
}

    .account-box .account-name {
        color: #ccc;
    }

/* immersive mode */
.immersive .account-box {
    display: none;
}
