@if (Request.IsAuthenticated)
{
    <div class="account-box">
        <div class="account-name">@User.AccountName()</div>
        @using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
        }
    </div>
}
